.contentParaInvest {
	width: 777px;
}
.contentParaInvest h2{
	width:573px;
}
#contact-form label {
	margin-left:12px;
	display: inherit;
}
#contact-form input, #contact-form textarea {
	margin-top:0px!important;
}

#three-steps-control .click-to-close {
    top: 100%;
}

#three-steps-control.pressed .click-to-open {
    top: -100%;
}

#three-steps-control.pressed .click-to-close {
    top: 10px;
}
.modal-body label {
    display: inline-block;
}
#modalForm div.col-sm-6:nth-child(22) {
    margin-top: 28px!important;
}
#modalForm div.dropdown:nth-child(28) {
	padding-bottom: 20px;
}
#modalForm div.col-xs-12:nth-child(34) {
	margin-top:28px;
}