a {
    outline: none !important;
}

body.admin-bar #navigation {
    top: 32px;
}
body {
    padding-top: 76px;
    font-size: 14px;
    color: #666;
}

html, body {
    height: 100%;
}
body::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection,li::selection,a::selection {
    color:white;
    background: #876b9e; 
}
body::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, li::-moz-selection, a::-moz-selection, div::-moz-selection, span::-moz-selection {
    color:white;
    background: #876b9e; 
}
body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Roboto Condensed";
}

img {
    max-width: 100%;
}

a, a:visited, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1;
}

h2 {
    font-size: 2.571em; /* 36px */
    font-weight: 300;
    margin-bottom: 30px;
    
    -webkit-transition: font-size 300ms;
    -moz-transition: font-size 300ms;
    transition: font-size 300ms;
}
.purple {
    font-weight: bold;
    color:#876b9e;
}
.parallax-content h2 {
    font-size: 4.000em; /* 56px */
    font-weight: 300;
    color: #fff;
    
    text-shadow: 0 0 4px rgba(10, 10, 10, 0.1);
}

p strong {
    color: #876b9e;
}

.section {
    /*padding-top: 40px;*/
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

/* Buttons */

button.button::-moz-focus-inner {
    margin-top:-0.5px;
    margin-bottom: -0.5px;
}

.button {
    border-top: 3px solid #876b9e;
    border-bottom: 3px solid #876b9e;
    border-left: 2px solid #876b9e;
    border-right: 2px solid #876b9e;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #fff;
    background: #a986c6;
    background: -moz-linear-gradient(top,  #a986c6 0%, #876b9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a986c6), color-stop(100%,#876b9e));
    background: -webkit-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: -o-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: -ms-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: linear-gradient(to bottom,  #a986c6 0%,#876b9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a986c6', endColorstr='#876b9e',GradientType=0 );

    padding: 6px 14px;
    
    font-size: 16px;
    text-align: center;
}

.button.pressed {
    background: #655076;
    background: -moz-linear-gradient(top,  #655076 0%, #876b9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#655076), color-stop(100%,#876b9e));
    background: -webkit-linear-gradient(top,  #655076 0%,#876b9e 100%);
    background: -o-linear-gradient(top,  #655076 0%,#876b9e 100%);
    background: -ms-linear-gradient(top,  #655076 0%,#876b9e 100%);
    background: linear-gradient(to bottom,  #655076 0%,#876b9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#655076', endColorstr='#876b9e',GradientType=0 );
}

.button:hover {
    color: #fff;
    background: #cba1ee;
    background: -moz-linear-gradient(top,  #cba1ee 0%, #876b9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cba1ee), color-stop(100%,#876b9e));
    background: -webkit-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: -o-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: -ms-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: linear-gradient(to bottom,  #cba1ee 0%,#876b9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cba1ee', endColorstr='#876b9e',GradientType=0 );
}

.button.pressed:hover {    
    background: #655076;
    background: -moz-linear-gradient(top,  #655076 0%, #a986c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#655076), color-stop(100%,#a986c6));
    background: -webkit-linear-gradient(top,  #655076 0%,#a986c6 100%);
    background: -o-linear-gradient(top,  #655076 0%,#a986c6 100%);
    background: -ms-linear-gradient(top,  #655076 0%,#a986c6 100%);
    background: linear-gradient(to bottom,  #655076 0%,#a986c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#655076', endColorstr='#a986c6',GradientType=0 );
}
.button:focus {
    color:#fff;
}
/* More Info ------------------------------------------------------------------- */

.more-info {
    height: 0;
    overflow: hidden;
    
    -webkit-transition: height 400ms;
    -moz-transition: height 400ms;
    transition: height 400ms;
}

.more-info.open {
    height: auto;
}


/* More Divider ---------------------------------------------------------------- */
hr {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
}
.more-divider {
    background: url('../images/page/divider_shadow.png') no-repeat center top;
    /*border-top: 1px solid #e5e5e5;*/
    margin: 15px 0;
    text-align: center;
}

.divider-circle {
    background: #e5e5e5;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    
    line-height: 1;
    vertical-align: middle;
    
    position: relative;
    top: -12px;
}

.divider-circle .sprite {
    margin-top: 8px;
}

.more-divider.simple {
    height: 25px;
}

/* Underlined box ;) */
.underlined-box {
    background: #f6f6f6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 8px solid #e5e5e5;
}

/* Parallax -------------------------------------------------------------------- */
.parallax-container {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.parallax-content {
    position: relative;
}

.parallax {
    background-repeat: repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    position: absolute;
    left: 50%;
    z-index: 0;
}

.parallax {
    -webkit-transition: transform 0s;
    -moz-transition: transform 0s;
    transition: transform 0s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    background-size: 100% auto;
}

.parallax1 {
    width: 1920px; /*1838px;*/
    height: 1291px; /*1227px;*/
    margin-left: -960px;
    background-image: url('../images/page/parallax1.jpg');
    top: -30px;
}

.parallax2 {
    width: 1920px;
    height: 950px;
    margin-left: -960px;
    background-image: url('../images/page/parallax2.jpg');
}

.parallax3 {    
    width: 2360px;
    height: 1645px;
    margin-left: -1180px;
    background-image: url('../images/page/parallax3.jpg');
    top: -100px;
}
html.rwd .parallax3 {
    width: 2360px;
    height: 1645px;
    margin-left: -1180px;
    top: -100px;
}
/*
@media(max-width:767px) {
    .parallax1 {
        background-image: url('../images/page/parallax1_768x576.jpg');
        width: 768px;
        height: 576px;
        margin-left: -384px;
    }
    .parallax2 {
        background-image: url('../images/page/parallax2_768x432.jpg');
        width: 768px;
        height: 432px;
        margin-left: -384px;
    }
    .parallax3 {
        background-image: url('../images/page/parallax3_768x432.jpg');
        width: 768px;
        height: 432px;
        margin-left: -384px;
    }
}

@media(min-width:768px) and (max-width:1199px) {
    .parallax1 {
        background-image: url('../images/page/parallax1_1200x900.jpg');
        width: 1200px;
        height: 900px;
        margin-left: -600px;
    }
    .parallax2 {
        background-image: url('../images/page/parallax2_1200x675.jpg');
        width: 1200px;
        height: 675px;
        margin-left: -600px;
    }
    .parallax3 {
        background-image: url('../images/page/parallax3_1200x675.jpg');
        width: 1200px;
        height: 675px;
        margin-left: -600px;
    }
}

@media(min-width:1200px) and (max-width:1919px) {
    .parallax1 {
        background-image: url('../images/page/parallax1_1920x1440.jpg');
        width: 1920px;
        height: 1440px;
        margin-left: -960px;
    }
    .parallax2 {
        background-image: url('../images/page/parallax2_1920x1080.jpg');
        width: 1920px;
        height: 1080px;
        margin-left: -960px;
    }
    .parallax3 {
        background-image: url('../images/page/parallax3_1920x1080.jpg');
        width: 1920px;
        height: 1080px;
        margin-left: -960px;
    }
}*/
@media(min-width:1920px) {
    .parallax {
        background-size: cover;
        width: 100%;
        margin-left: 0;
        left: 0;
    }
}
@media(max-width:767px) {
    .parallax {
        background-size: cover;
        width: 100%;
        margin-left: 0;
        left: 0;
        height: 100%;
        top: 0;
        bottom: 0;
        transform: none !important;
    }
}

/* Navigation ================================================================== */
#navigation {
    z-index: 10;
    height: 76px;
    padding: 0;
    background: #fff;
    
    -webkit-transition: height 200ms;
    -moz-transition: height 200ms;
    transition: height 200ms;
}

#navigation.not-as-high {
    height: 50px;
}

#navigation.not-as-high #nav li a {
    padding: 17px 0; 
}

#navigation.not-as-high .navbar-brand img {
    width: 150px;
}

.navbar-header, .navbar-collapse, #nav, #nav, #nav li {
    height: 100%;
}

.navbar-brand {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    border-right: 1px solid #e5e5e5;
    
    -webkit-transition: padding 200ms;
    -moz-transition: padding 200ms;
    transition: padding 200ms;
}

.navbar-brand img {
    width: 250px;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    transition: width 200ms;
}

#nav {
    float: right;
}

#nav li {
    width: 120px;
}

#nav li a {
    padding: 30px 0;
    line-height: 1;
    font-size: 1.143em; /* 16px */
    
    border-left: 1px solid #e5e5e5;
    position: relative;
    
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    text-align: center;
}

#nav li.active a {
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: -o-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: linear-gradient(to bottom,  #f1f1f1 0%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fefefe',GradientType=0 );
}

#nav li.active a:after {
    content: "";
    display: block;
    background: #9878b3;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

#nav li a:hover {
    background: #7f46ac;
    color: #fff;
    border-bottom: none;
    font-weight: bold;
}

/* Homepage ==================================================================== */

#home {
    height: 100%;
    background: url('../images/home/fitz-home.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.home-background {
    background: url('../images/home/shake.png') no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 100%;
    position: relative;
    color: #fff;
    font-weight: 300;
    text-align: right;
    
    text-shadow: 1px 1px 1px #666;
}

.home-background .container {
    position: relative;
    height: 100%;
}

.home-tags {
    position: absolute;
    width: 350px;
    left: 0;
    right: 0;
    top: 16%;
    line-height: 1;
    margin:0 auto;
    text-align: center;
}

.home-tag-1,
.home-tag-2 {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    position: static;
}

.home-tag-1 {
    font-size: 2.96em;
}

.home-tag-2 {
    padding-top:25px;
    font-size: 5.5em;
}
.home-tag-2 br {
    display: none;
}
.social-content {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}
.fb-like {
    display: inline-block;
    vertical-align: middle;
}
.social-content span {
    color:white;
    margin-left:5px;
}
#fboverlay {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: gayscale(100%);
}
/* About Us ==================================================================== */

.about-us-content {
    position: relative;
    padding-bottom: 16px;
    margin-top:20px;
}
.about-us .container {
    padding:40px;
}
.about-us-main-text > p:nth-child(2) {
    font-weight: bold;
}
.about-us-main-text {
    text-align: left;
    margin-bottom: 30px;
}

.about-us-picture-box {
    position: absolute;
    right: 0;
    bottom: -16px;
}

#about-us-more-info-container {
    padding-top: 1px;
}

#about-us-more-content {
    padding-bottom: 30px;
}

.testimonials-wrapper {
    padding: 20px 50px;
    position: relative;
}

.testimonials-control {
    position: absolute;
    width: 35px;
    height: 100%;
    top: 0;
    bottom: 0;
}

.testimonials-control.left {
    left: 8px;
}

.testimonials-control.right {
    right: -13px;
}

.testimonials-control .sprite {
    position: relative;
    top: 65px;
}

.testimonial-item h4 {
    font-size: 1.071em;
    color: #876b9e;
    font-weight: bold;
    margin: 0;
}

.testimonial-item p {
    margin-bottom: 10px;
}
.testimonial-item .col-sm-3 {
    padding: 0px;
    width: 150px;
    margin-left: 15px;
}
.testimonial-item img {
    float:right;
}
div.owl-item:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-top:inherit;
}
div.owl-item:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-top:30px;
}
.testimonial-item .col-sm-9 {
    margin-top:20px;
}
.team-box {
    text-align: left;
    margin-top: 20px;
}
/*PRIVREMENO*/
div.col-sm-6:nth-child(2) {
    width: 50%;
}
.team-img {
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    float: left;
    
    margin-right: 10px;
    margin-bottom: 4px;
}

.team-box h4 {
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 1.071em;
    font-weight: bold;
}

.team-box h4 span {
    font-weight: normal;
}

.about-us-extra-info-box {
    padding: 20px 30px;
}
.about-us-extra-info-box h3 {
    font-weight: bold;
}
#about-us-more-info-close-button {
    margin-top: 30px;
}
.choose-us-box {
    margin-bottom: 30px;
}
.choose-us-box ul {
    padding:10px 30px;
}
/* Three Steps ----------------------------------------------------------------- */
.three-steps {
    text-align: center;
    color: #fff;
}

.three-steps h2 {
    margin-top: 30px;
}
#three-steps-content h4 {
    font-size: 2.571em;
    font-weight: 300;
}
.success-ball {
    display: inline-block;
    background: #876b9e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    max-width: 100%;
}

#three-steps-wrapper {
    padding-bottom: 80px;
    position: relative;
}

#three-steps-control {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    margin-bottom: -3px;
    margin-left: -150px;
    width: 300px;
    padding: 6px 10px 11px 10px;
    color:#fff;
    background-color:rgba(20, 20, 20, 0.5);
    border:none;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
}

#three-steps-control span {
    display: block;
    position: absolute;
    width: 100%;
    top:9px;
    left: 0;
    right: 0;
    height: 100%;
    
    -webkit-transition: transform 300ms;
    -moz-transition: transform 300ms;
    transition: transform 300ms;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-perspective: 1000;
    perspective: 1000;
}

#three-steps-control .click-to-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#three-steps-control .click-to-close {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#three-steps-control.pressed .click-to-open {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#three-steps-control.pressed .click-to-close {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#three-steps-control i {
    display: inline-block;
    vertical-align: middle;
    margin-left:2px;
}
#three-steps-container {
    height: 360px;
    overflow: hidden;
    
    -webkit-transition: height 400ms;
    -moz-transition: height 400ms;
    transition: height 400ms;
}

#three-steps-container.open {
    height: auto;
}

.success-info {
    display: table;
    margin-top: 80px;
    padding:20px;
    height: 280px;
    color:#e5e5e5;
    background: rgba(20, 20, 20, 0.3);
    border:none;
    position: relative;
    border-radius: 8px;
    -webkit-transition: margin-top 400ms;
    -moz-transition: margin-top 400ms;
    transition: margin-top 400ms;

}
.success-info b {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid rgba(20, 20, 20, 0.3);
    left: 50%;
    margin-left: -15px;
    top: -10px;
}
.success-info p {
    display: table-cell;
    vertical-align: middle;
}
#three-steps-container.opening .success-info,
#three-steps-container.open .success-info{
    margin-top: 40px;
}
.showOnMobile {
    display: none;
    }
#three-steps-content .col-xs-12 {
    width:33.3333%;
}
.notOpenTree {
    display: block;
}
.openTree {
    display: inherit;
}
/* Investors =================================================================== */

.investors-content {
    padding-bottom: 20px;
    margin-top:10px;
    margin-bottom: 17px;
}

#investors-more-info-container {
    padding-top: 1px;
}

#investors-more-content {
    padding-bottom: 30px;
}
.investor-steps {
    margin-bottom: 30px;
}
#investors-more-info-close-button {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
}

.step-body {
    position: relative;
    padding-left: 150px;
}

.step-number {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 0;
    margin-top: -0.75em;
    text-align: center;
    font-weight: bold;
    color: #876b9e;
    font-size: 1.286em;
}

.step-content {
}

.investor-step .more-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    border: 0;
    position: relative; 
    height: 25px;
    
    background-size: 100% 30px;
}
.investor-step .divider-circle {
    position: absolute;
    left: -87px;
}
div.investor-step:nth-child(5) > div:nth-child(2) {
    display: none;
}
.investorsparallax {
    padding-bottom:70px;
    padding-top:70px;
}
.investorsparallax {
    text-align: right;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contentParaInvest {
    margin:0px auto; 
    width: 775px;
}
.contentParaInvest h2 {
    width: 567px;
    display: inline-table;
    vertical-align: middle;
    margin-right: 50px;
}
.investorsparallax .round {
    text-align: center;
    background-color: rgb(135, 107, 158);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 30px;
}
/* Kinky Box ------------------------------------------------------------------- */

.kinky-box-wrapper {
    z-index: 1;
}

.kinky-number {
    background: #876b9e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 34px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.kinky-container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: -40px;
}

.kinky-body {
    position: relative;
    margin-top: 60px;
    padding: 0px 14px 20px 14px;
    color: #fff;
    text-align: center;
}

.kinky-body:before {
    content: " ";
    display: block;
    width: 1296px;
    height: 1296px;
    border: 600px solid rgba(20, 20, 20, 0.5);
    background: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    margin-left: -648px;
    top: -708px;
    
    z-index: -1;
}

.kinky-body h3 {
    font-size:18px;
    font-weight: bold;
}
.kinky-body p {
    color:#e5e5e5;
}
/* Services ==================================================================== */
#serviceMenu {
    margin-top:20px;
    margin-bottom: 20px;
}
.serviceBox {
    height:170px;
    text-align: center;
    padding: 0;
}
#services-slider h2 {
    margin-top:50px;
    margin-bottom: 20px;
}
/*
.serviceBox {
    height:170px;
    text-align: center;
    text-decoration: none;
    color:#808080;
    transition: background-color 0.5s;
}
.serviceBox:hover {
    background-color: #a986c6;
    color:#fff;
    text-decoration: none;
    position: relative;
    border-top: 3px solid #876b9e;
    transition: background-color 0.5s;
}
.serviceBox:hover:before, .serviceBox:hover:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#876b9e), to(transparent));
    background-image: -webkit-linear-gradient(#876b9e, transparent);
    background-image: -moz-linear-gradient(#876b9e, transparent);
    background-image: -o-linear-gradient(#876b9e, transparent);
    top: -3px;
    bottom: -3px;
    width: 3px;
    transition: background-image 0.5s;
}
.serviceBox:hover:before {
    left: -3px;
}
.serviceBox:hover:after {
    right: -3px;
}
*/
.service-button {    
    display:table;
    height: 100%;
    width: 100%;
    color: #666;
    font-weight: bold;
    border: none;/*5px solid transparent;*/
    position: relative;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    transition: all 100ms;
}
.service-button:hover{    
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: -o-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#fefefe 100%);
    background: linear-gradient(to bottom,  #f1f1f1 0%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fefefe',GradientType=0 );
    color:#666;
}
.service-button:focus  {
    color:#666;
}
.service-button.active {
    border: 5px solid #876b9e;

    color: #fff;
    background: #a986c6;
    background: -moz-linear-gradient(top,  #a986c6 0%, #876b9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a986c6), color-stop(100%,#876b9e));
    background: -webkit-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: -o-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: -ms-linear-gradient(top,  #a986c6 0%,#876b9e 100%);
    background: linear-gradient(to bottom,  #a986c6 0%,#876b9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a986c6', endColorstr='#876b9e',GradientType=0 );

    padding: 6px 14px;
    
    font-size: 16px;
}
.service-button.active:hover {
    background: #cba1ee;
    background: -moz-linear-gradient(top,  #cba1ee 0%, #876b9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cba1ee), color-stop(100%,#876b9e));
    background: -webkit-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: -o-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: -ms-linear-gradient(top,  #cba1ee 0%,#876b9e 100%);
    background: linear-gradient(to bottom,  #cba1ee 0%,#876b9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cba1ee', endColorstr='#876b9e',GradientType=0 );
}

#serviceMenu {    
    background: url('../images/services/serviceshadow2.png') no-repeat center 170px;
}

.s-consumerassets, .s-marketing {
    background: url('../images/services/serviceshadow1.png') no-repeat right top;
}
.s-consulting, .s-mortgage {
    background: url('../images/services/serviceshadow1.png') no-repeat right bottom;
}

.service-button:hover:after {
    content: "";
    display: block;
    background: #9878b3;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.alignBox{
    display:table-cell;
    vertical-align: middle;
}
.serviceBox i{
    margin-bottom:10px;
}
.serviceBox .consumer_p {
    margin-left:15px;
}
.service-button.active .consumer_p {
    width:46px;
    height:42px;
    background-position: -0px -158px;
}
.service-button.active .marketing_p {
    width:41px;
    height:43px;
    background-position: -126px -0px;
}
.service-button.active .commercial_p {
    width:43px;
    height:45px;
    background-position: -81px -0px;
}
.service-button.active .consulting_p {
    width:42px;
    height:56px;
    background-position: -107px -47px;
}
.service-button.active .mortgage_p {
    width:44px;
    height:44px;
    background-position: -61px -54px;
}
.service-button.active .brokerage_p {
    width:59px;
    height:50px;
    background-position: -0px -106px;
}
.serviceMenuInfo {
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.serviceMenuInfo div {
    padding: 5px 0;
    margin-bottom: 40px;
}

.services-back-box {
    text-align: center;
    margin-bottom: 30px;
}

.services-close {
    position: absolute;
    bottom: -50px;
    -webkit-transition: bottom 400ms;
    -moz-transition: bottom 400ms;
    transition: bottom 400ms;
}

.csstransforms3d .carousel-inner > .item {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;


    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;

    width: 100%;
}

.csstransforms3d .carousel-inner > .active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.csstransforms3d .carousel-inner > .next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.csstransforms3d .carousel-inner > .prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.csstransforms3d .carousel-inner > .next.left,
.csstransforms3d .carousel-inner > .prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.csstransforms3d .carousel-inner > .active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    display: block;
    height: auto;
}
.csstransforms3d .carousel-inner > .active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    display: block;
    height: auto;
}


.services-close.open {
    bottom: inherit;
    top: 50px;
    position: static;
}
button.services-close i, #about-us-more-info-close-button > i:nth-child(1), #investors-more-info-close-button > i:nth-child(1) {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -1px;
}
.up_more {
    display:inline-block;
    vertical-align: middle;
    margin-top:-2px;
    margin-right:10px;
}

#service-pages {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition: height 400ms;
    -moz-transition: height 400ms;
    transition: height 400ms;
}

#service-pages.open {
    height: auto;
}

.service-page {
    /*
    display: none;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    */
    
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

.service-page.active {
    display: block;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
}
.serviceBoxPage {
    display: table;
    text-align: center;
    margin-left:-1px;
    margin-top:20px;
    margin-bottom: 50px;
}
.serviceBoxPage > div {
    height:150px;
    display: table;
    margin-top:20px;
    background: #f8f8f8;
    background: -webkit-linear-gradient(-45deg, #f8f8f8 0%, #f8f8f8 24%, #fbfbfb 50%, #fdfdfd 75%, #ffffff 100%);
    background: -moz-linear-gradient(-45deg, #f8f8f8 0%, #f8f8f8 24%, #fbfbfb 50%, #fdfdfd 75%, #ffffff 100%);
    background: -o-linear-gradient(-45deg, #f8f8f8 0%, #f8f8f8 24%, #fbfbfb 50%, #fdfdfd 75%, #ffffff 100%);
    background: linear-gradient(-45deg, #f8f8f8 0%, #f8f8f8 24%, #fbfbfb 50%, #fdfdfd 75%, #ffffff 100%);
}
.serviceBoxPage .col-md-6 {
    width:49.8%;
    margin-right:1px;
}
.serviceBoxPage .contentServiceBox {
    display:table-cell;    
    vertical-align: middle;
    padding:20px;
}
.contentServiceBox p {
    margin-bottom: 0px;
}
.contentServiceBox h3 {
    margin-bottom: 15px;
}
.serviceBoxPage h3, .consultingListBox h3, #service-mortgage h3{
    font-size: 18px;
    margin-top:0px;
}
#service-consumerassets p{
    margin:0;
}
#service-consumerassets .shadowDivider {
    margin-top:40px;
}
.serviceBoxPage .more-divider {
    border: medium none;
    margin-top: 10px;
}
.two-col {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    column-width:inherit;
    text-align: justify;
    display: block;
    margin-bottom:40px;
}
.two-col:before, .two-col:after {
    content: " ";
}
.two-col p:last-child {
    -webkit-margin-before: 40px;
}
#service-marketing .shadowDivider {
    margin-top:40px;
}
.listcommercial {
    display: table;
}
.commercialBox {
    padding-left:0px;
    padding-right: 0px;
    min-height: 400px;
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(135deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=1 );
    margin-bottom: 65px
}
.commercialBox p {
    text-align: center;
    margin-top:25px;
    font-size: 18px;
}
.commercialBox ul {
    margin-top:10px;
    list-style: none;
    padding:0px 30px 0px 40px

}
.commercialBox ul li {
    padding-left: 12px; 
    text-indent: -.7em;
    position: relative;
    font-size:14px;
    padding-top:2px;
}
.commercialBox ul li:before {
     content: '';
    background-color: #e5e5e5;
    display: inline-block;
    position: relative;
    height: 9px;
    width: 9px;
    border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left:-11.9px;
    top: 0px;
}
.commercialBottomTXT {
    display: table;
    margin-bottom:60px;
}
.commercialBottomTXT .purple {
    font-size:  18px;
}
.commercialContactBTN {
    padding-top:60px;
}
.consultingListBox {
    display: table;
    padding:30px 27px;
    margin-bottom: 30px;
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(135deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=1 );
}
.consultingListBox ul {
    margin-top:10px;
    list-style: none;
}
.consultingListBox ul li {
    padding-left: 12px; 
    text-indent: -.7em;
    position: relative;
    font-size:14px;
    padding-top:2px;
}
.consultingListBox ul li:before {
    content: '';
    background-color: #e5e5e5;
    display: inline-block;
    position: relative;
    height: 9px;
    width: 9px;
    border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left:-11.9px;
    top: 0px;
}
.mortgageTextBox {
    text-align: center;
}
.mortgageTextBox h3 {
    margin-top:40px;
}
.buttonBoxMortgage {
    display: table;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.buttonBoxMortgage .button {
    padding-top: 12px;
    padding-bottom: 15px;
}
.mortgageUL {
    display: table;
}
.mortgageUL ul {
    margin-top:10px;
    list-style: none;
}
.mortgageUL ul li {
    padding-left: 12px; 
    text-indent: -.7em;
    position: relative;
    font-size:14px;
    padding-top:2px;
}
.mortgageUL ul li:before {
    content: '';
    background-color: #e5e5e5;
    display: inline-block;
    position: relative;
    height: 9px;
    width: 9px;
    border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left:-11.9px;
    top: 0px;
}
/* How it works ---------------------------------------------------------------- */

#howitworks h2 {
    color: #fff;
    text-align: center;
    font-size: 56px;
}
.boxHowContainer {
    padding-bottom: 40px;
}
.boxHowContainer .kinky-container {
    height: 250px;    
}
#services > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    margin-top:40px;
    margin-bottom: 40px;
}
/* Contact Us ================================================================== */
#contact {
    background-color:#fff;
}
#contact h2 {
    margin-top:40px;
    text-align: left;
}
#contact p.contactINTRO {
    margin-top:20px;
    text-align: left;
    color:#666666;
}
.row.shadowDivider {
    margin-top:20px;
    height:20px;
    text-align: center;
    background-image: url('../images/page/divider_shadow.png');
    background-repeat: no-repeat;
    background-position: center;
}
#contact-response {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    color:#876b9e;
}
#contact-form {
}

#contact-form label {
    display: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #333;
}
#contact-form .text-input {
    display: block;
    width: 100%;
    padding: 14px;
    border: solid 1px #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #333333;
    font-weight: bold;
    margin: 15px 0;

    outline: none !important;
}
.row.msginput{
    margin:0;
}
#contact-form .text-input {
    border-left: 10px solid #f6f6f6;
}
#contact-form .text-input:focus {
    border-left: 10px solid #876b9e;
}
.required-text {
    padding-top: 10px;
    color:#666;
}
.contact-actions {
    margin-top:10px;
}
.contact-actions .col-md-7 {
    text-align: right;
    padding: 0px;
}
#contact-form-submit-button i {
    padding-left:5px;
}
#contact-form-reset-button i {
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
#contact-form-reset-button {
    margin-right:10px;
}
.contactInfo{
    margin-top:20px;
    margin-bottom:40px;
    text-align: center!important;
}
.contactInfo > ul {
    display:block;
    padding-left: 0px !important;
}
.contactInfo > ul > li {
    display:inline-block;
    padding:0 15px;
    border-right:solid 1px #666;
}
.contactInfo > ul > li:first-child{
    padding-left:0px;
}
.contactInfo > ul > li:last-child{
    border-right:none;
    padding-right:0px;
}
.contactInfo > ul > li > a {
    color:#666;
}
/* Footer ================================================================== */

#footer {
    background-color:#333333;
    position:relative;
    color: #fff;
    font-size:12px;
}
.logos {
    float:left;
    padding-top: 2px;
}
.logos img{
    padding-right:4px;
}
.logos > a:nth-child(2) > img:nth-child(1) {
    padding-top:2px;
}
.footer-col.copyright{
    padding-top: 24px;
    float:left;
    font-size:12px;
    color:#c5c5c5;
    margin-left:19px;
    margin-right:16px;
}
.footer-col.social{
    float:left;
    padding-top:20px;
    padding-left: 20px;
}
.footer-col.social a {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin:0 4px;
}
.footer-col.odinWEB {
    color:#c5c5c5;
    float:right;
    margin-top:22px;
}
.footer-col.odinWEB a{
    width: 79px;
    height:25px;
    margin-left:5px;
}
.footer-col.odinWEB a .sprite {
    vertical-align: middle;
    margin-top: -2px;
}
.showTablet {
    display: none;
}
/* MODAL FORM =============================*/
/*.modal-backdrop {
    z-index: 10;
}
#modalForm {
    z-index: 11;
}
.bootstrap-datetimepicker-widget {
    z-index: 12;
}
*/
.modal-dialog {
    width: 930px;
}

.ifYes {
    display: none;
}
.modal-body {
    margin-top:-20px;
}
.modal-header {
    display: table;
    width: 100%;
}
.modal-title {
    display: table-cell;
    vertical-align: middle;
}
.formButtonModal {
    float:right;
    display: inline-block;
}
.modal-body hr {
    margin:20px 0px;
}
.modal-body input {
    margin-bottom:20px;
    width:100%;
    padding:10px 10px;
    font-weight: bold;
}
.modal-body select {
    padding:10px 10px;
}
.modal-body label {
    display: none;
    padding-left:10px;
}
 .form-control {
    height: inherit;
 }
.dataForm {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dataForm:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dataForm:-moz-placeholder {
  color: #999999;
}
.dataForm::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.dataForm:-ms-input-placeholder {
  color: #999999;
}
.dataForm::-webkit-input-placeholder {
  color: #999999;
}
.checkboxes  {
    margin-bottom:35px;
} 
#modalForm div.col-sm-6:nth-child(22) {
    margin-bottom:15px;
    margin-top: 3px;
}
.dropdown {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.dropdown > div:nth-child(1), .wish {
    padding-top:6px;
}
.checkboxes label {
    display: inline-block;
}
#modalForm div.col-sm-6:nth-child(31) {
    width:385px;
}
#modalForm div.dropdown:nth-child(28) > div:nth-child(1) {
    width: 175px;
}
#modalForm div.dropdown:nth-child(30) {
    margin-bottom:35px;
}

#modalForm div.col-sm-5:nth-child(1) > label:nth-child(1) {
    padding-top:7px;
    display:inline-block;
}
#modalForm div.col-md-6:nth-child(34) label{
    display: inherit;
    margin-left: -15px;
}
#modalForm .dropdown .col-sm-2 {
    width: 160px;
}
.dropdown label {
    display: inline-block;
    padding-top: 5px;
}
.checkboxes > label:nth-child(1) {
    margin-right:20px;
}
.modal-body textarea {
    margin-top:10px;
    margin-bottom: 10px;
    padding:10px;
}
#modalForm input, textarea {
    border-radius: 5px;
}
#modalForm textarea {
    border-color: #eeeeee;
}
#modalForm input::-webkit-input-placeholder, #modalForm textarea::-webkit-input-placeholder {
    color:#666;
}
#modalForm input::-moz-input-placeholder, #modalForm textarea::-moz-input-placeholder {
    color:#666;
}
#fitz_modalForm_additionalInformation {
    width:100%;
}
.fileInput {
    width: 100%;
    display: table;
    padding-top:40px;
    text-align: center;
}
.fileInput label {
    display:inline-block;
    padding-left:0px;
}
.fileInput input {
    border:solid 1px #eeeeee;
    border-radius:10px;
}
.first-payment-date {
    position: relative;
}

body.page-template-page-form-php {
    background: #e5e5e5;
}
@media  (min-width:768px) and (max-width:929px) {
    .modal-dialog {
        width:768px;
        margin:10px auto;
    }
}
@media (max-width: 768px){
    .modal-dialog {
        width: 100%;
        margin:10px 0px;
    }
    .modal-dialog .col-sm-7 {
        padding:0px;
    }
    #modalForm div.col-sm-6:nth-child(31) {
        width: 100%;
    }
}

.LinkButton {
  background:#FFFFFF;
  border-style: solid;
  border-width : 1px 20px 1px 20px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color : #FFFFFF;
  color: #000000;
  text-align: center;

}


.LinkButton:hover {
  background: #800080; 
  border-style: solid;
  border-width : 1px 20px 1px 20px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color :#ffffff;
}


.LinkButton:active {
    position:relative;
    left:5px;

}

.two_columns { 
column-count: 2;
column-gap: 40px;
column-width:100px;
column-rule: 3px outset #ff00ff;
column-span: 1;

}

.three-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
        
}