@media (min-width:930px) {
    .container {
        padding-left: 65px;
        padding-right: 65px;
    }
}

@media (min-width:768px) and (max-width:929px) {
    .container {
        width: 730px;
    }
}

@media (max-width:1199px) {
    
    .navbar-brand {
        padding-top: 19px;
        padding-bottom: 19px;
    }
    
    #navigation.not-as-high .navbar-brand {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    .navbar-brand img {
        width: 150px;
    }
}
@media (max-width:929px) {
    body {
        font-size: 13px;
    }
    .navbar-brand {
        padding-left: 8px;
        padding-right: 8px;
    }
    #nav li a {
        padding-top: 31px;
    }
    #navigation.not-as-high #nav li a {
        padding-top: 18px;
    }
    .contentParaInvest h2 {
        width: 446px;
        font-size: 44px;
    }
    .contentParaInvest {
        width: 649px;
    }
    .boxHowContainer .kinky-container {
        min-height: 261px;
    }
    .about-us-main-text {
        text-align: left;
        margin-bottom: 0px;
    }
    
    .footer-col.odinWEB {
        float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    }
    
}
@media (min-width:768px) and (max-width:929px) {
    .navbar-header {
        width: 18%;
        height: 100%;
    }
    
    #nav {
        float: left;
        width: 82%;
    }
    
    #nav li {
        width: 20%;
    }
    
    .navbar-brand {
        display: block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        border: none;
    }
    .testimonial-item .col-sm-3 {
        margin-left: 0px;
    }
}

@media (max-width:767px) {

    .home-background {
        background: url("../images/home/fitz-home-flat.jpg") no-repeat scroll transparent;
        background-position: center center;
        background-size: cover;
        -webkit-margin-left:10px;
    }
    .hideTablet {
        display: none;
    }
    .showTablet {
        display: inherit;
        text-align: center;
    }
    .about-us-content {
        min-height: 370px;
    }
    .about-us-picture {
        width:84%;
        margin-left:5px;
    }
    /*.about-us-main-text p{
        font-size: 16px;
    }*/
    .boxHowContainer .kinky-container {
        min-height: 250px;    
    }
    .imgBoxPart {
        vertical-align: middle;
        display: table-cell;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        width:25%;
    }
    .team-img {
        float:none;

    }
    .txtBoxPart {
        display: table-cell;
        vertical-align: middle;
    }
    .txtBoxPart p {
        margin-bottom: 0px;
    }
    .team-box .col-sm-6{
        display: table;
        margin-bottom: 20px;
    }
    body {
        padding-top: 50px;
    }
    
    h2 {
        font-size: 2.143em;
    }
    #navigation {
        height: 50px;
    }

    
    #navigation .navbar-brand {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #navigation .navbar-brand img {
        width: 150px;
    }
    
    .navbar-collapse {
        padding: 0;
        width: 100%;
        -moz-box-shadow: 0 2px 4px #666;
        -webkit-box-shadow: 0 2px 4px #666;
        box-shadow: 0 2px 4px #666;
    }
    
    #nav {
        margin: 0;
        background: #fff;
        float: none;
    }
    
    #nav li {
        width: 20%;
        float: left;
    }
    
    #navigation #nav li a {
        padding: 17px 0; 
    }
    .testimonial-item {
        text-align: center;
    }
    .testimonial-item .col-sm-3 {
        padding: inherit;
        width: 100%;
        margin-left: 0px;
}
    .testimonial-item img {
        float:none;
        display: block;
        margin: 0px auto 25px;
    }
    .home-tags {
        text-align: center;
    }
    .home-tags br {
        display: inherit;
    }
    .home-tag-1 {
        font-size: 2.3em;
    }
    .home-tag-2 {
        padding-top:10px;
        font-size: 5em;
    }
    .social-content {
        position: absolute;
        bottom: 5%;
        left: 0px;
        right: 0px;
    }
    .success-info {
        height:400px;
    }
    .hideTablet {
        display:none;
    }
    .showTablet {
        display: inherit;
    }
    .buttonBoxMortgage  {
        text-align: center;
    }
    .buttonBoxMortgage .button {
        margin-right:10px;
    }
    .buttonBoxMortgage > div:nth-child(3) > button {
        margin-right:0px;
    }
    .buttonBoxMortgage > div {
        display: inline-block;
    }
    .commercialContactBTN {
        padding-top: 20px;
        text-align: center;
    }  
    .commercialBox {
        min-height: 1px;
        padding: 4px 10px 10px 10px;
        margin-bottom: 10px;
    }
    #contact-form .text-input {
        margin-bottom:0px;
    }
    .required-text {
        display: block;
        padding-top: 0px;
        padding-bottom: 20px;
        text-align: center;
    }
    .contact-actions .col-md-7 {
        text-align: center;
        display: block;
    }
    #footer {
        text-align: center;
    }
    .logos{
        float: none;
    }
    .footer-col.copyright {
        float: none;
        padding:12px 0px;
    }
    .footer_right {
        display: inline-table;
        margin: 12px 0px;
    }
    .footer-col.social {
        float: none;
        display: table-cell;
        padding:0px;
    }
    .footer-col.odinWEB {
        float: none;
        display: table-cell;
        vertical-align: middle;
        padding-left: 25px;
    }
    /*SERVICE MENU FIX */
    #serviceMenu .col-xs-6 {
        width: 33.33333333333333%;
    }
    .investorsparallax {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    div.col-sm-6:nth-child(2) {
    width: 100%;
}
    
}
@media (max-width: 679px) {
    .contentParaInvest {
        width:inherit;
        margin:0;
    }
    .about-us-content {
        min-height: 385px!important;
    }
    .about-us-content {
        min-height: 370px;
    }
    .about-us-picture {
        width:100%;
        margin-left:0px;
    }
    .contentParaInvest h2 {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        width:inherit;
    }
    .investors-picture {
        margin-top:0px;
    }
    .investorsparallax .round {
        display: block;
        margin:0 auto;
        text-align: center;
    }
    .contactInfo p {
        font-size: 18px;
        padding:0 5px;
    }
    .contactInfo > ul > li {
        font-size:16px;
        display: block;
        padding: 0px;
        border-right: none;
        text-align: center;
    }
}
@media (max-width:599px) {
    .hideTablet {
        display: inherit;
    }
    .showTablet {
        display: none;
        margin-top:25px;
    }
    .showOnMobile {
        display: inherit;
        margin-top:25px;
    }
    #three-steps-content .col-xs-12 {
        width:100%;
    }
    #three-steps-container.opening .success-info, #three-steps-container.open .success-info {
        margin-top: 20px;
    }
    .success-info {
        height:200px;
    }
    .notOpenTree {
        display: inherit;
    }
    .openTree {
        display: none;
    }
    .about-us-main-text button {
        margin-top: 20px;
    }
    .home-tag-1 {
        font-size: 2.5em;
    }
    .home-tag-2 {
        font-size: 4em;
    }
    .about-us-picture-box {
        display: none;
    }
    .about-us-text-box {
        float: none;
        width: 100%;
    }
    .three-steps .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .kinky-box-wrapper {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxHowContainer .kinky-container {
        min-height: 1px;
    }
    
    .investors-main-text {
        float: none;
        width: auto;
    }
    
    .investors-picture-box {
        display: none;
    }
    
    .step-body {
        padding-left: 100px;
    }

    .step-number {
        width: 100px;
    }

    .investor-step .more-divider {
        margin-left: 100px;
    }

    .investor-step .divider-circle {
        left: -62px;
    }
    .investorsparallax .round {
        display:block;
    }
    .serviceBoxPage .col-md-6 {
        width: inherit;
    }
    .two-col {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        column-width: inherit;
        text-align: justify;
        display: block;
    }
    .two-col p:last-child {
        -webkit-margin-before: inherit;
    }
    .commercialBox {
        min-height: 200px;
        margin-bottom: 30px;
        padding-bottom: 25px;
    }
    .commercialContactBTN {
        padding-top: 20px;
        display: block;
        text-align: center;
    }
    .buttonBoxMortgage .button {
        margin-right:0px;
    }
    .buttonBoxMortgage div {
        display:block;
        text-align: center;
        margin-bottom: 10px;
    }
    .buttonBoxMortgage > div:nth-child(2) {
        margin-top:26px;
    }
}
@media (max-width:479px) {
    .home-background {
        margin-left:-10px;
    }
    .home-tags {
        width:250px;
    }
    .home-tag-1 {
        font-size: 2em;
    }
    .home-tag-2 {
        font-size: 3em;
    }
    #three-steps-content h4 {
        font-size: 2.143em;
    }
    #three-steps-container {
        height: 340px;
    }

    .about-us-content {
        min-height: 1px;
    }
    .success-ball {
        padding: 24px;
    }
    .serviceBox {
        height: 140px;
    }
    #serviceMenu {
        background-position: center 140px;
    }
    .step-body {
        padding: 0;
    }    .step-number {
        position: static;
        text-align: center;
        width: auto;
    }
    .investor-step .more-divider {
        margin-left: 0;
    }
    .investor-step .divider-circle {
        position: relative;
        left: 0;
    }
    .about-us-extra-info-box {
        padding: 10px 15px;
    }
    .about-us-extra-info-box h3 {
        font-size: 1.429em;
    }
    .imgBoxPart {
        vertical-align: middle;
        text-align: center;
        width: 25%;
        text-align: center;
        display: block;
        margin:0px 0px 20px 0px;
        width:inherit;
    }
    .imgBoxPart img {
        float:none;
    } 
    .team-img {
        margin-right:0px;
    }
    .txtBoxPart {
        display: block;
        text-align: center;
    }
    .team-box .col-sm-6{
        display: table;
        margin-bottom: 20px;
    }
    .alignBox {
        font-size:12px;
    }
    .service-button.active {
        font-size:12px;
    }
    
div.col-sm-6:nth-child(2) > div:nth-child(2) {
    width: 100%;
}
}
@media (max-width:400px) {
    #serviceMenu .col-xs-6 {
        width: 50%;
    }
    .home-tag-1 {
        font-size: 1.4em;
    }
    .home-tag-2 {
        font-size: 2.5em;
    }
}
@media (max-width:359px) {
    .home-tags {
        width:200px;
    }
    .home-tag-1 {
        font-size: 1.5em;
    }
    .home-tag-2 {
        font-size: 2.286em;
    }
    
    #nav {
        margin: 0;
        background: #fff;
        float: none;
    }
    
    #nav li {
        width: 100%;
        float: none;
    }
    
    #three-steps-container {
        height: 315px;
    }
    #three-steps-content h4 {
        font-size: 1.714em;
    }
    
    .success-ball {
        padding: 16px;
    }
    
    .serviceBox {
        height: 125px;
    }
    #serviceMenu {
        background-position: center 125px;
    }
}
@media (max-width:300px) {

    #contact-form-reset-button {
    margin:0 auto;
    }
    .contact-actions button {
        display: block;
        margin:5px auto;
    }
}

@media (max-width:1023px) and (min-height:768px) {
    #home {
        height: 600px;
    }
}

@media (max-width:767px) and (min-height:620px) {
    #home {
        height: 500px;
    }
}

@media (max-width:600px) and (min-height:620px) {
    #home {
        height: 460px;
    }
}

@media (max-width:479px) and (min-height:420px) {
    #home {
        height: 350px;
    }
}

@media (max-width:400px) and (min-height:420px) {
    #home {
        height: 260px;
    }
}